.code808{
    background-color: #808080;
}

.codegr{
    background-image: linear-gradient(to top right, #f1ea01, #fff);
}

.codeby{
    background-color: #faffa2;
}

.codefb{
    color: black;
}

.codefw{
    color: white;
}

.codepmreset{
    padding: 0px;
    margin: 0px;
}

.btnwid1{
    width: 60%;
}

.btnwid2{
    width: 70%;
}

.codefont20px{
    font-size: 20px;
}

.codealign2{
    text-align: center;
    position: relative;
}

.codealigncent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.codefont40px{
    font-size: 40px;
}

.codemxw38p{
    max-width: 38%;
}

.codegrdull{
    background-image: linear-gradient(to top right, #faffa2, #808080);
}

.codegrmid{
    background-image: linear-gradient(to top right, #f1ea01, #808080);
}

/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ Codes */

.himg{
    background-image: url("../images/header_bg_desk-1920x200.png");
    width: 100%;
    height: 200px;
    position: fixed;
}

.logo{
    width: 144px;
    height: 144px;
}

a{
    text-decoration: none;
}

ul>*{
    padding: 20px;
    font-size: 36px;
    list-style: none;
}

ul{
    padding: 0px 100px 0px 100px;
}

.teaminfo{
    max-height: 75%;
    min-width: 90%;
}

.adoptalign{
    position: absolute;
    top: 97%;
    left: 71%;
    transform: translate(-71%, -97%);
}

.adopttagalign{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
}

.ctatag{
    position: absolute;
    top: 3%;
    left: 31%;
    transform: translate(-31%, -3%);
}

.ctabtn{
    position: absolute;
    top: 25%;
    left: 22%;
    transform: translate(-22%, -25%);
    padding: 0px 100px 0px 100px;
}

footer{
    background-image: url("../images/footer_bg_desk-1920x417.png");
    width: 100%;
    height: 417px;
    position: relative;
}

.footercont{
    width: 100%;
}

.newsdoc{
    padding: 0px 10px 0px 10px;
    width: 350px;
    height: 58%;
    
}

.smbtn{
    width: 35%;
    height: 124px;
}

@media screen and (max-width: 900px) {
    #btns4sec{

    }

    #btns4{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        height: 40rem;
        padding: 10px;
    }

    #btns4>*{
        display: flex;
        justify-content: center;
        margin: auto;
        width: 40%;
        height: 50%;
        margin: 10px;
        align-content: center;
    }

    #btn1{
        
    }

    #btn2{

    }

    #btn3{

    }

    #btn4{
        background-image: url("../images/gr_tab-354x342.png");
        background-position: center 0%;
    }
}



/* TEMP TESTING */